﻿@model sriasp.Models.Contact
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script type="text/javascript">
        
    </script>
</head>
<body>
   <h1>hey @Model.Name! your age is @Model.age and your id is @Model.id</h1> 
</body>
</html>