﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>head</title>
</head>
<body>
    <form action="/Home/Index" method="post">
       ID: <input type="text" name="id" value="" />
        NAME:<input type="text" name="Name" value="" />
        AGE:<input type="text" name="age" value="" /><br />

     <br />   <button type="submit" value="submit">submit</button>
    </form>
</body>
</html>
