﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/onemore/index" method="post">
        ID: <input type="text" name="id" value="" /><br />
        NAME:<input type="text" name="Name" value="" /><br />
        AGE:<input type="text" name="age" value="" /><br />
        <input id="Button1" type="submit" value="submit" />
    </form>
</body>
</html>