﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div><h1>@ViewBag.Heading</h1></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
